@import "tailwindcss";

@font-face {
  font-family: primaryFont;
  src: url("../public/fonts/Lausanne-300.woff2");
}

@font-face {
  font-family: secondaryFont;
  src: url("../public/fonts/Lausanne-500.woff2");
}

body {
  background-color: #111;
  color: white;
}
